/* 
    Document   : newCascadeStyleSheet
    Created on : 8 Jul, 2012, 11:10:28 PM
    Author     : Vivek
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

